@import "../../components/groupedTable/groupedTable.css";

.SwarmHeaderTabs {
  flex: 0 0 auto;
}

.SwarmTable.AppDataTable :is(th, td)[data-column="Actions"] {
  width: 1px !important;
  min-width: 40px;
}

.SwarmInitState .bp6-non-ideal-state-text {
  max-width: 600px;
}
.SwarmInitState .bp6-non-ideal-state-description > p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.SwarmInitState .SwarmInitError {
  margin-top: 14px;
  text-align: left;
}
.SwarmInitState .SwarmInitErrorReason {
  white-space: pre-wrap;
  word-break: break-word;
}
