[data-screen="containers"] .AppScreenContent th:nth-child(3),
[data-screen="containers"] .AppScreenContent td:nth-child(3),
[data-screen="containers"] .AppScreenContent th:nth-child(4),
[data-screen="containers"] .AppScreenContent td:nth-child(4) {
  width: 70px;
}
[data-screen="containers"] .AppScreenContent th:nth-child(5),
[data-screen="containers"] .AppScreenContent td:nth-child(5),
[data-screen="containers"] .AppScreenContent th:nth-child(7),
[data-screen="containers"] .AppScreenContent td:nth-child(7) {
  width: 140px;
}
[data-table="containers"] thead th:nth-child(2),
[data-table="containers"] tbody td:nth-child(2) {
  text-align: left;
}
[data-table="containers"] thead th:last-child,
[data-table="containers"] tbody td:last-child {
  width: 1px;
}
[data-table="containers"] .ContainerLayersButton {
  max-width: 260px;
  text-overflow: ellipsis;
  font-size: 11px;
}
[data-table="containers"] .ContainerState {
  border-radius: 6px;
  padding: 3px;
  text-align: center;
  font-size: 11px;
  min-width: 50px;
  display: inline-block;
  border: 1px solid transparent;
}
[data-table="containers"] tbody tr[data-state="exited"] {
  background-color: #480505;
}
[data-table="containers"] .ContainerState[data-state="exited"] {
  background-color: #c71700;
}
[data-table="containers"] .ContainerState[data-state="running"] {
  background-color: #128e4c;
}
[data-table="containers"] .ContainerState[data-state="created"] {
  background-color: #0d4766;
}
[data-table="containers"] .ContainerState[data-state="stopped"] {
  background-color: #708810;
}
