[data-actions-menu="container"] {
  position: relative;
}
[data-actions-menu="container"] .ItemActionsOverlayMenu {
  position: absolute;
  right: 30px;
  top: -4px;
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}
[data-actions-menu="container"] .ItemActionsOverlayMenuActions {
  border: 1px solid;
  border-radius: 5px;
}
[data-actions-menu="container"] .InlinePlayerActions {
  border-radius: 5px;
}
[data-theme="bp6-dark"][data-engine="podman"] [data-actions-menu="container"] .InlinePlayerActions {
  background: #7114ce;
}
[data-theme="bp6-light"][data-engine="podman"] [data-actions-menu="container"] .InlinePlayerActions {
  background: #c6bbd0;
}
[data-theme="bp6-dark"][data-engine="docker"] [data-actions-menu="container"] .InlinePlayerActions {
  background: #1463ce;
}
[data-theme="bp6-light"][data-engine="docker"] [data-actions-menu="container"] .InlinePlayerActions {
  background: #9eb0c8;
}
