.ContainerInspectDisplay {
  font-size: 12px;
  color: #ccc;
  line-height: 1.4em;
}
[data-table="container.inspect"] tr td {
  text-align: left;
  font-family: monospace;
}
[data-table="container.inspect"] tr td:first-child {
  width: 1px;
  font-weight: bold;
}
[data-table="container.inspect"] tr td:nth-child(2) {
  width: 100%;
  text-align: left;
}
[data-table="container.inspect"] [data-table-row="group.name"] td {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}
