.ContainerPortMappingProtocol {
  margin: 0 !important;
}
.ContainerPortMappingPort:first-child {
  margin-right: 3px;
}
.ContainerPortMappingPort .bp4-input {
  width: 55px;
  margin-left: 3px;
}

.ContainerPortMappings .bp4-label {
  text-transform: uppercase;
  margin-right: 7px !important;
}

.ContainerPortMappings .bp4-form-content {
  display: flex;
}

.ContainerImagePortMapping {
  display: flex;
  vertical-align: middle;
  margin-bottom: 5px;
}
.ContainerImagePortMappingProperties {
  flex: 1;
  vertical-align: middle;
}
.ContainerImagePortMappingActions {
  display: flex;
  vertical-align: middle;
}
.ContainerImagePortMappingProperties .bp4-form-group {
  margin-bottom: 0;
}
