.AppLabel {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.AppLabelText {
  margin-left: 2px;
}
.AppLabelIcon {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
