[data-form="connection.create"] .PathToExecutable,
[data-form="connection.create"] .ApiConnectionUriInput {
  display: flex;
}
[data-form="connection.create"] .bp5-input-group input[type="text"] {
  font-size: 12px;
}
.ConnectionSettingsMode .bp5-tab-list {
  margin: 0;
  padding: 0;
}
.ConnectionSettingsMode .bp5-tab-panel {
  margin: 0;
  margin-top: 5px;
  padding-top: 5px;
}
.ConnectionSettingsMode .AutomaticSettingsPanel {
  background-color: rgba(1, 1, 1, 0.5) !important;
  font-size: 13px;
}
.ConnectionSettingsMode .AutomaticSettingsPanel ul {
  margin: 0;
  display: inline-block;
  padding-top: 5px;
}
.ContainerStartupFormGroup {
  margin: 0;
  padding: 0;
}
.ManageConnectionForm {
  position: relative;
}
.ManageConnectionForm .AppDrawerPendingIndicator {
  position: fixed;
  width: 180px;
  height: 30px;
  bottom: 10px;
  left: 10px;
  display: flex;
  padding-left: 7px;
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.25);
  z-index: 100;
  border-radius: 15px;
}
.ManageConnectionForm .AppDrawerPendingIndicator span {
  padding-left: 10px;
}
