[data-form="connection.create"] .PathToExecutable,
[data-form="connection.create"] .ApiConnectionUriInput {
  display: flex;
}
[data-form="connection.create"] .bp5-input-group input[type="text"] {
  font-size: 12px;
}
.ConnectionSettingsMode .bp5-tab-list {
  margin: 0;
  padding: 0;
}
.ConnectionSettingsMode .bp5-tab-panel {
  margin: 0;
  margin-top: 5px;
  padding-top: 5px;
}
.ConnectionSettingsMode .AutomaticSettingsPanel {
  background-color: rgba(1, 1, 1, 0.5) !important;
  font-size: 13px;
}
.ConnectionSettingsMode .AutomaticSettingsPanel ul {
  margin: 0;
  display: inline-block;
  padding-top: 5px;
}
