.ScopeSelect {
  display: flex;
}
.ScopeSelectMenuItem {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 12px;
}
.ScopeSelectMenuItem.bp6-menu-item-is-selectable {
  padding-left: 5px;
}
.ScopeSelectButton .bp6-button-text {
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.ScopeSelectButton .bp6-button-text .ScopeSelectButtonText {
  flex: 1;
  align-items: center;
  vertical-align: middle;
}
.ScopeLabel {
  font-size: 9px;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  height: 18px;
}
.ScopeSelectButton .bp6-button-text {
  display: flex;
  flex: 1;
  align-items: center;
  vertical-align: middle;
}
.ScopeSelectButton .bp6-button-text .ScopeLabel {
  height: 18px;
}
.ScopeLabel[data-intent="danger"] {
  background-color: #6b004c;
  color: #ffffff;
}
.ScopeLabel[data-intent="success"] {
  background-color: #076332;
  color: #ffffff;
}
.ScopeSelectButton:disabled .ScopeLabel[data-intent="danger"] {
  background-color: #4c1b3d;
  color: #999;
}
.ScopeSelectButton:disabled .ScopeLabel[data-intent="success"] {
  background-color: #053e20;
  color: #999;
}
