
.AppSidebarFooter {
  position: relative;
  margin: 0;
  padding: 0;
  height: 32px;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.AppSidebarFooter .bp4-navbar {
  margin: 0;
  padding: 0;
  background-image: url("../images/podman-logo.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 28px;
  height: 32px;
}
.AppSidebarFooter .bp4-navbar-group {
  height: 32px;
  padding-left: 32px;
  padding-right: 0;
}
.AppSidebarFooter .AppSidebarFooterRightColumn{
  position: relative;
  min-width: 30px;
  display: block;
  min-height: 30px;
  top: -28px;
  padding-left: 0;
  z-index: 10;
}
.AppSidebarFooter .bp4-navbar-heading {
  font-size: 12px;
  color: #aaa;
}
.AppSidebarVersionString {
  font-size: 10px;
  white-space: nowrap;
}
.AppSidebarProgramString {
  font-size: 10px;
  white-space: nowrap;
}
.AppSidebarFooterPendingIndicator {
  padding-top: 2px;
}
