.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.AppContent {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.AppContentDocument {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.AppScreen {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}
.AppScreenContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.AppScreenContent[data-loaded="no"] {
  align-items: center;
  justify-content: center;
}
.AppScreenHeader > .bp4-navbar {
  display: flex;
}
.AppScreenHeader .NavbarCenter,
.AppScreenHeader .NavbarCenterContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.AppScreenHeader .NavbarCenterContent[data-position="left"] {
  justify-content: flex-start;
}
.AppScreenHeader .NavbarCenterContent span {
  max-width: 200px;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}
.AppNotificationOutput pre {
  margin-bottom: 0;
  font-size: 12px;
  overflow: auto;
}
.AppToaster .bp4-toast {
  top: 40px;
}

.AppDrawer {
  min-width: 420px;
  box-shadow: none;
}
.AppDrawer .bp4-drawer-body .bp4-dialog-body {
  padding: 5px;
  margin: 0;
}
.AppDrawer .AppDataTable {
  width: 100%;
  margin-bottom: 20px;
}
.AppDrawer .AppDataForm {
  margin: 0;
  margin-top: 10px;
}
.AppDrawerPendingIndicator {
  margin-top: 10px;
  height: 10px;
  overflow: hidden;;
}
.AppDataTable thead th {
  font-size: 11px;
}
.AppDataTable thead th,
.AppDataTable tbody td {
  width: 120px;
  text-align: center;
  font-size: 11px;
  vertical-align: middle;
}
.AppDataTable thead th:first-child,
.AppDataTable tbody td:first-child {
  width: auto;
  text-align: left;
  white-space: nowrap;
}
.AppDataTable thead th:last-child,
.AppDataTable tbody td:last-child {
  width: 1px !important;
}
.AppDataTable thead th[data-column="Actions"] {
  width: 1px;
}
.AppDataTable thead th[data-column="Created"] {
  min-width: 120px;
}
.AppDataTable thead th[data-column="Size"] {
  min-width: 60px;
}
.AppDataFormTable {
  width: 100%;
  font-size: 11px !important;
}
.AppDataFormTable tr th {
  margin: 0;
  padding: 0 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.AppDataFormTableHeader {
  display: flex;
  align-items: center;
  width: 100%;
}
.AppDataFormTableHeader h5 {
  padding: 0;
  padding-left: 5px;
  margin: 0;
}
.AppDataFormTable tr td {
  vertical-align: middle;
  padding: 0 !important;
  padding-top: 3px !important;
  padding-right: 3px !important;
}
.AppDataFormTable tr td:first-child {
  padding-left: 3px !important;
  padding-right: 3px !important;
  min-width: 80px;
}
.AppDataFormTable tr td:last-child {
  padding-bottom: 3px !important;
}
.AppDataFormTable tr td.AppDataFormTableActionCell {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.AppDataFormTable tr td.AppDataFormTableIndexCell {
  width: 1px !important;
  min-width: 1px;
  background: #3a294b;
  table-layout: fixed;
  vertical-align: top;
  border-left: 1px solid #463153;
  border-right: 1px solid #463153;
}
.AppDataFormTable tr label {
  padding-left: 5px !important;
}
.AppDataFormTable tr[data-is-even="no"] td.AppDataFormTableIndexCell {
  background: #2b1339;
}
.AppDataFormTableInputCell select {
  background-color: #2c233b !important;
  color: #57a1ce !important;
}

.AppFormFieldMeasureUnit {
  height: 30px;
  background: #0b020c;
  width: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ae69d6;
}
.bp4-disabled .AppFormFieldMeasureUnit {
  color: #798192;
  background-color: #36334d;
}

[data-running="no"] .AppContentDocument {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-environment="development"] .App-projectNameVersion {
  color: yellow;
}
[data-environment="development"] .envIndicator {
  background-color: yellow;
}

[data-environment="staging"] .App-projectNameVersion {
  color: orange;
}
[data-environment="staging"] .envIndicator {
  background-color: orange;
}

[data-environment="production"] .App-projectNameVersion {
  color: #4db98c;
}
[data-environment="production"] .envIndicator {
  background-color: #4db98c;
}

.bp4-navbar {
  box-shadow: none !important;
}
.bp4-menu {
  background: #300734 !important;
}
.bp4-popover2-arrow-fill {
  fill: #300734 !important;
}
.bp4-dark .bp4-input {
  background: rgba(17, 20, 24, 0.3);
  box-shadow: 0 0 0 0 rgb(76 144 240 / 0%), 0 0 0 0 rgb(76 144 240 / 0%), 0 0 0 0 rgb(76 144 240 / 0%), inset 0 1px 0 0 rgb(17 20 24 / 60%), inset -1px 0 0 rgb(17 20 24 / 60%), inset 1px 0 0 rgb(17 20 24 / 60%), inset 0 -1px 0 0 #8f99a8;
  color: #f6f7f9;
}

.bp4-dark .bp4-navbar {
  box-shadow: 0 0 0 1px rgb(17 20 24 / 20%), 0 0 0 rgb(17 20 24 / 0%), 0 1px 1px rgb(17 20 24 / 40%);
}

code.DocsCodeBox {
  margin-left: 2px;
  border: 1px solid #333;
  padding: 3px;
  background: #000;
  border-radius: 5px;
  font-family: monospace;
  color: #ccc;
}

/*
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
a:not([draggable=true]), img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto;
}
*/
