.AppFooter {
  height: 32px;
  display: flex;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 5px;
}
.AppFooterNavbar {
  display: flex;
  margin: 0;
  padding: 0;
  box-shadow: none !important;
  height: 32px;
  align-items: center;
}
.AppFooter .bp6-navbar-group {
  height: 32px;
}
.AppFooter .bp6-navbar-heading {
  font-size: 12px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.AppFooterCurrentConnectorStatus {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 15px;
}
.AppFooterCurrentConnectorStatus[data-connected="yes"] {
  background-color: #0f0;
}
.AppFooterCurrentConnectorStatus[data-connected="no"] {
  background-color: #f00;
}

[data-theme="bp6-dark"] [data-engine="podman"] .AppFooter,
[data-theme="bp6-dark"] [data-engine="podman"] .AppFooterNavbar {
  background-color: #4f175b;
}
[data-theme="bp6-light"] [data-engine="podman"] .AppFooter,
[data-theme="bp6-light"] [data-engine="podman"] .AppFooterNavbar {
  background-color: #cfcfcf;
}

[data-theme="bp6-dark"] [data-engine="docker"] .AppFooter,
[data-theme="bp6-dark"] [data-engine="docker"] .AppFooterNavbar {
  background-color: #02091f;
}
[data-theme="bp6-light"] [data-engine="docker"] .AppFooter,
[data-theme="bp6-light"] [data-engine="docker"] .AppFooterNavbar {
  background-color: #7397a8;
}
