.AppLoading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AppLoadingSplashLogo {
  background: url("../images/podman-logo.svg") no-repeat;
  width: 256px;
  height: 256px;
}
.AppLoadingSplashContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}
.AppLoadingSplashContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AppLoadingSplashPhases {
  margin-top: 4px;
  width: 400px;
  height: 90px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4px;
}
.AppLoadingSplashPhase {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 3px;
  white-space: nowrap;
  font-size: 12px;
}
.AppLoadingSplashPhase:last-child {
  margin-bottom: 0;
}
.AppLoadingSplashPhase span {
  display: block;
  padding: 4px;
}
.AppLoadingSplashPhase p {
  margin: 0;
  padding: 0;
  padding-left: 4px;
  white-space: nowrap;
}
