.AppLoading {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.AppLoadingSplashLogo {
  background: url("../images/podman-logo.svg") no-repeat;
  width: 256px;
  height: 256px;
}
.AppLoadingSplashContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}
