.AppSidebar {
  display: flex;
  height: 100%;
  width: 250px;
  flex-direction: column;
  padding-top: 2px;
}
.AppSidebarActions {
  width: 100%;
  padding: 10px;
}
.AppSidebarActions > .bp5-button-group {
  width: 100%;
  color: #60605b;
}
.AppSidebarActions .bp5-button-group .bp5-vertical {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.AppSidebarActions .bp5-button {
  text-align: left;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 0 !important;
}
.AppSidebarContent {
  display: flex;
  flex: 1;
}
.AppSidebar[data-expanded="no"] {
  min-width: 68px;
  width: auto;
  text-align: left;
}
.AppSidebar[data-expanded="no"] .AppSidebarActions {
  padding: 2px;
  padding-top: 0;
}
.AppSidebar[data-expanded="no"] .AppSidebarActions .bp5-button {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  padding: 5px;
  flex-direction: column;
}
.AppSidebar[data-expanded="no"] .AppSidebarActions .bp5-button .bp5-icon,
.AppSidebar[data-expanded="no"] .AppSidebarActions .bp5-button svg {
  margin-right: 0;
  outline: none;
}
.AppSidebar[data-expanded="no"] .AppSidebarActions .bp5-button svg {
  margin: 5px;
}
.AppSidebar[data-expanded="no"] .AppSidebarActions .bp5-button-text {
  display: block;
  font-size: 11px;
}
