.AppDataForm[data-form="registry.properties.manage"] .bp6-label {
  white-space: nowrap;
  min-width: 70px;
}
.AppDataForm[data-form="registry.properties.manage"] .bp6-label strong {
  font-weight: bold;
}
