html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo {
  height: 70px;
  margin-left: 30px;
}

.header-buttons {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.header-buttons .github-button-container {
  margin-top: 8px;
  margin-left: 8px;
}

.intro {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.intro p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.8em;
  text-align: center;
  margin-bottom: 2px;
}
.intro a {
  text-decoration: none;
}

.intro h1 a {
  color: #b682ff;
  text-decoration: underline;
}
.intro h1 .super {
  font-size: 40px;
}
.intro h1 .alias {
  font-size: 20px;
}

.callout {
  margin: 20px;
  margin-top: 20px;
  color: #e7ff00;
  text-align: center;
}
.callout a.pd {
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
}
.callout a.pd:hover {
  color: #13abff;
}
.callout p.cp1 {
  font-size: 14px;
  margin: 0;
}
.callout p.cp2 {
  font-size: 14px !important;
}
.callout p.cp3 {
  font-size: 13px !important;
}
.callout-help-podman-desktop {
  padding: 0 !important;
}
.callout-help-podman-desktop,
.callout-help-podman-desktop .cp1,
.callout-help-podman-desktop .cp1 p {
  font-size : 13px;
}


.downloadSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
.download {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 20px;
}
.downloadSection .download:last-child {
  margin-right: 0px;
}
.downloadBundles {
  text-align: center;
}
.download .downloadButton {
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  width: 265px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  background-color: #892ca0;
  color: #ffffff;
  overflow: hidden;
}
.download .downloadButton .downloadButtonLabel {
  flex: 1;
}
.download .downloadButton .downloadButtonLabel .downloadButtonLink {
  display: block;
  padding: 14px 10px 14px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.download .downloadButton .downloadButtonLabel .downloadButtonLink:hover {
  background-color: #a01986;
  color: #fefefe;
}
.download .downloadButton .downloadButtonDropdown {
  background: #2e1640;
  height: 100%;
}
.download .downloadButton .downloadButtonDropdown .downloadButtonLink {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 7px;
  padding-right: 7px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.download .downloadButton .downloadButtonDropdown .downloadButtonLink:hover {
  background-color: #140111;
  color: #fefefe;
}
.downloadBundlesArchs {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.downloadBundlesArchs li {
  display: inline;
}
[data-operating-system="Linux"] .downloadBundles > li > a {
  display: inline-block;
  min-width: 130px;
}

[data-operating-system="MacOS"] .downloadBundles > li {
  display: inline;
}
[data-operating-system="Linux"] .downloadBundlesArchs > li:last-child,
[data-operating-system="MacOS"] .downloadBundles > li:last-child {
  margin-left: 5px !important;
  margin-right: 0  !important;
  padding-left: 10px !important;
  border-left: 2px solid white;
}
.setup-guide {
  filter: drop-shadow(0 15px 15px black);
}
.content-setup-guide {
  padding-top: 20px;
  text-align: center;
}

ul.downloadBundles,
ul.downloadBundles li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.downloadBundles li {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
ul.downloadBundles li:last-child {
  margin-bottom: 0;
}
ul.downloadBundles > li a {
  text-decoration: underline;
}
ul.downloadBundles > li a:hover {
  color: #13abff;
}
ul.downloadBundles {
  padding: 10px;
}

.publications,
.guides {
  text-align: center;
  color: #eee;
  font-size: 40px;
  margin-bottom: 0;
}
.guides-subtitle {
  font-size: 14px;
  font-weight: normal;
  color: #eee;
  margin: 0;
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.books ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.books ul li {
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.books ul li:last-child {
  margin-right: 0;
}
.books ul li a {
  text-decoration: none;
  color: #ffffff;
}
.books ul li a:hover {
  text-decoration: underline;
  color: #13abff;
}
.books ul li a:hover p {
  color: #13abff;
}

.content {
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 0;
}

.footer-content {
  background: #140119;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.content h2,
p,
ul {
  font-family: "Montserrat", sans-serif;
  margin-top: 0px;
}

.content h2 {
  font-weight: 500;
  font-size: 36px;
}
.content p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
}
.content ul {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  margin-right: 0px;
  padding-left: 0px;
}
.content ul li {
  padding-bottom: 20px;
}

.section00 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.cover {
  width: 100%;
  box-shadow: 0 10px 10px -5px;
  border-radius: 5px;
}

.section0,
.section1,
.section2,
.section3,
.section4,
.section5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: center;
}

.section0 .column1 h2 {
  padding-right: 50px;
  margin-right: 0px;
}
.section0 .column1 p {
  padding-right: 50px;
  margin-right: 0px;
}
.section0 .column2 h2 {
  padding-left: 50px;
  margin-left: 0px;
}
.section0 .column2 p {
  padding-left: 50px;
  margin-left: 0px;
}

.section1 .column1 h2 {
  padding-right: 50px;
  margin-right: 0px;
}
.section1 .column1 ul {
  padding-right: 50px;
}

.section2 .column2 h2 {
  padding-left: 50px;
}
.section2 .column2 ul {
  padding-left: 50px;
}

.section3 .column1 h2 {
  padding-right: 50px;
  margin-right: 0px;
}
.section3 .column1 p {
  padding-right: 50px;
  margin-right: 0px;
}

.section4 .column2 h2 {
  padding-left: 50px;
}
.section4 .column2 p {
  padding-left: 50px;
}

.section5 .column1 h2 {
  padding-right: 50px;
  margin-right: 0px;
}
.section5 .column1 p {
  padding-right: 50px;
  margin-right: 0px;
}

.imgPost {
  width: 100%;
  box-shadow: 0 10px 10px -5px;
  border-radius: 5px;
}

.sectionHighlightContainer {
  width: 100%;
}

.sectionHighlight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

.sectionHighlight .column1Highlight {
  display: flex;
  flex-direction: column;
  flex: 60%;
}

.sectionHighlight .column2Highlight {
  display: flex;
  flex-direction: column;
  flex: 40%;
}

.sectionHighlight h2,
p {
  font-family: "Montserrat", sans-serif;
  margin-top: 0px;
}
.sectionHighlight h2 {
  font-weight: 500;
  font-size: 36px;
  padding-left: 50px;
}
.sectionHighlight p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em;
  padding-left: 50px;
}

.imgHighlight {
  width: 100%;
}

.imgHighlight2 {
  border-radius: 15px;
  opacity: 0.5;
  overflow: hidden;
  border: 1px solid #ff03f0;
}
.supporters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
  overflow: hidden;
  height: 40px;
}
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.beta {
  display: flex;
  flex-direction: column;
  flex: 65%;
}

.mailme {
  display: flex;
  flex-direction: column;
  flex: 35%;
}

.beta p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  padding-right: 60px;
}

.beta span {
  font-size: 90px;
}

.mailme {
  padding-top: 150px;
}
.mailme h2 {
  padding-left: 60px;
  margin-bottom: 0px;
}
.mailme p {
  font-weight: 300;
  font-size: 20px;
  padding-left: 60px;
  padding-top: 20px;
}
.mailme .cta {
  padding-left: 60px;
}
.mailme a {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 14px 14px 14px;
  border-radius: 5px;
  display: inline-block;
}

.mode {
  margin-bottom: 30px;
  margin-right: 0;
  text-align: right;
}
.mode span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 10px 0 0;
}

.mode span:last-child {
  margin-right: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  top: -2px;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.footer {
  display: flex;
  vertical-align: middle;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer p,
ul.footerMenu li {
  font-family: "Montserrat", sans-serif;
  font-size: 9px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0px;
}

ul.footerMenu,
ul.footerMenu li {
  display: inline-block;
}
ul.footerMenu {
  text-align: center;
  flex: 1;
  margin: 0;
}
.footerMenu li {
  margin-right: 15px;
}
.footerMenu li:last-child {
  margin-right: 0;
}

.footer a {
  text-decoration: none;
}

.downloadSection .soon {
  text-align: center;
  display: inline-block;
  padding: 10px;
}
.command-line {
  font-family: var(--monospace-font);
  background: #222;
  border: 1px solid #333;
  color: green;
  padding: 5px;
  display: inline-block;
}

.installationSection {
  padding-top: 10px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.installationSection a {
  font-weight: normal;
  text-decoration: underline;
  text-align: center;
}
.installationSection a {
  margin-right: 40px;
}
.installationSection a:hover {
  color: #13abff !important;
}
.installationSection a:last-child {
  margin-right: 0;
}
.privacy-policy {
  margin: 0 auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  text-align: left;
  font-weight: normal !important;
}
.privacy-policy li:nth-child(1),
.privacy-policy li:nth-child(2) {
  font-weight: bold;
}
.privacy-policy a {
  font-weight: normal;
  text-decoration: underline;
  color: #dbed27 !important;
}
.privacy-policy a:hover {
  color: #aec5ff !important;
}
.inner-buttons a.button {
  color: #aec5ff !important;
}
.intro-nav a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);
  text-align: left;
}
.tabs .input {
  position: absolute;
  opacity: 0;
}
.tabs .label {
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  width: calc(100% / 3 - 60px);
  text-align: center;
}
.tabs .label:hover {
  background: #d8d8d8;
}
.tabs .label:active {
  background: #ccc;
}
.tabs .input:focus + .label {
  z-index: 1;
}
.tabs .input:checked + .label {
  background: #fff;
  color: #000;
}
.tabs .panel {
  order: 99;
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
  text-align: left;
  color: #d588ea;
  width: calc(100% - 60px);

  background: #2e1640;

  background: linear-gradient(160deg, rgba(26, 6, 28, 1) 0%, rgb(76, 25, 82, 1) 50%, rgba(7, 15, 41, 1) 100%);
}
.tabs .input:checked + .label + .panel {
  display: block;
}

.panel span {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6 {
  text-align: left;
}
.panel p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}
.panel dl dt {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}
.panel dl dd {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  line-height: 28px;
  color: #c3c3c3;
  font-size: 14px;
}
.panel dl dd ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 14px;
}
.panel dl dd ul li {
  padding-bottom: 0;
}
.panel ol {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.panel code {
  border: 1px solid #8a2c82;
  border-radius: 5px;
  padding: 4px;
  white-space: nowrap;
  margin: 0;
  background: #020103;
}
.panel a {
  color: #f8dfff;
  text-decoration: underline;
}
.panel a:hover {
  color: #13abff;
  text-decoration: underline;
}
.panel dl dd code {
  color: #fdd8ff;
}
.panel pre {
  overflow: auto;
  border: 1px solid #8a2c82;
  border-radius: 5px;
  padding: 4px;
  margin: 0;
  background: #020103;
  color: #fdd8ff;
}
p.tip-note {
  margin: 0;
  margin-top: 10px;
  background: #111;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
}
p.important-note {
  margin: 0;
  margin-top: 10px;
  background: #b39ab9;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  border-radius: 5px;
}
p.important-note code {
  background: #574d4d;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fdd8ff;
  padding-left: 5px;
  padding-right: 5px;
}
p.important-note-requirements {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  background: #d8a8ff;
}
pre.text-file {
  background: #222;
  border: 1px solid #333;
  color: #fff;
  padding: 5px;
  display: inline-block;
  white-space: pre-wrap;
}
