html,
body {
  background: rgb(251, 248, 255);
  background: linear-gradient(
    150deg,
    rgba(251, 248, 255, 1) 0%,
    rgba(250, 237, 254, 1) 50%,
    rgba(234, 254, 255, 1) 100%
  );
}

h1 {
  color: #1d1d1d;
}

.intro p {
  color: #1d1d1d;
}
.intro a {
  color: #1d1d1d;
}
.intro a:hover {
  color: #892ca0;
}

.download a.downloadButton {
  background-color: #892ca0;
  border: 1px solid #892ca0;
  color: #ffffff;
}
.download a.downloadButton:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #892ca0;
}

.content h2,
p,
ul {
  color: #1d1d1d;
}

.sectionHighlightContainer {
  background: rgb(218, 255, 244);
  background: linear-gradient(
    150deg,
    rgba(218, 255, 244, 1) 0%,
    rgba(245, 201, 252, 1) 33%,
    rgba(171, 250, 255, 1) 100%
  );
}

.sectionHighlight h2,
p {
  color: #1d1d1d;
}

.beta p {
  color: #f0ddfa;
}

.mailme a {
  background-color: #892ca0;
  border: 1px solid #892ca0;
  color: #ffffff;
}
.mailme a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #892ca0;
}

.mode span {
  color: #1d1d1d;
}


.slider {
  background-color: #2e1640;
}

.slider:before {
  background-color: #ececec;
}

input:checked + .slider {
  background-color: #b7cbcc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b7cbcc;
}

.footer {
  border-top: 1px solid #b7cbcc;
}

.footer p,
ul.footerMenu li {
  color: #b7cbcc;
}

.footer a {
  color: #b7cbcc;
}

.footer a:hover {
  color: #892ca0;
}

.downloadSection .soon {
  color: #333;
}
