.AppDataTable[data-table="images"] th {
  padding-left: var(--app-data-table-items-padding);
  padding-right: var(--app-data-table-items-padding);
}
.AppDataTable[data-table="images"] th:first-child {
  padding-left: 6px;
}
.AppDataTable[data-table="images"] th:nth-last-child(2) {
  padding-left: initial;
  min-width: 1px;
}
.AppDataTable[data-table="images"] th[data-column="tag"],
.AppDataTable[data-table="images"] td[data-column="tag"] {
  min-width: 140px;
  max-width: 140px;
  width: 140px;
}

.AppDataTable[data-table="images"] .ContainerImageTag {
  display: block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ActionMenuItemConfirm {
  margin: 0;
  padding: 3px;
  padding-left: 7px;
  padding-right: 3px;
  height: 30px;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.AppDataTable[data-table="images"] td:first-child .bp6-button-text {
  white-space: nowrap;
  text-align: left;
}
.AppDataTable[data-table="images"] .ContainerImageRegistry {
  padding-top: 3px;
}

/* Small gap after the "Search images" CTA so it doesn't butt up against the "Build image" button. */
.ImageSearchImagesButton {
  margin-right: 5px;
}
