.ContainerFileSystemSize,
.ContainerFileSystemSize .bp6-input-group {
  flex-grow: inherit !important;
  flex-shrink: inherit !important;
}
.VolumeTypeInput {
  vertical-align: middle;
}
.VolumeTypeInput .bp6-checkbox {
  margin-bottom: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.VolumeTypeInput .bp6-divider {
  border-color: #4c3d5c;
}

.ContainerMount {
  display: flex;
}
.ContainerMountProperties {
  flex: 1;
}
.ContainerMountProperties .bp6-form-group.bp6-inline .bp6-label {
  min-width: 70px;
  display: inline-block;
}
.ContainerMountActions {
  display: flex;
  vertical-align: middle;
}
