[data-screen="pods"] .AppScreenContent th:nth-child(2),
[data-screen="pods"] .AppScreenContent td:nth-child(2),
[data-screen="pods"] .AppScreenContent th:nth-child(3),
[data-screen="pods"] .AppScreenContent td:nth-child(3) {
  width: 70px;
}
[data-screen="pods"] .AppScreenContent th:nth-child(4),
[data-screen="pods"] .AppScreenContent td:nth-child(4),
[data-screen="pods"] .AppScreenContent th:nth-child(5),
[data-screen="pods"] .AppScreenContent td:nth-child(5) {
  width: 140px;
}
[data-table="pods"] thead th:nth-child(1),
[data-table="pods"] tbody td:nth-child(1) {
  text-align: left;
}
[data-table="pods"] thead th:last-child,
[data-table="pods"] tbody td:last-child {
  width: 1px;
}
[data-table="pods"] .PodDetailsButton {
  max-width: 240px;
}
[data-table="pods"] .PodDetailsButton .bp4-button-text {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-align: left;
  min-width: 120px;
}
[data-table="pods"] .PodState {
  border-radius: 6px;
  padding: 3px;
  text-align: center;
  font-size: 11px;
  min-width: 50px;
  display: inline-block;
  border: 1px solid transparent;
}

[data-table="pods"] .PodState[data-state="Degraded"] {
  background-color: #611f69;
}
[data-table="pods"] .PodState[data-state="Exited"] {
  background-color: #c71700;
}
[data-table="pods"] .PodState[data-state="Running"] {
  color: #60ff45;
}
[data-table="pods"] .PodState[data-state="Created"] {
  color: #00a6ff;
}
[data-table="pods"] .PodState[data-state="Stopped"] {
  color: #888a83;
}
[data-table="pods"] .PodState[data-state="Paused"] {
  color: orange;
}
