@import "../../components/groupedTable/groupedTable.css";

.AppDataTable[data-table="volumes"] th {
  padding-left: var(--app-data-table-items-padding);
  padding-right: var(--app-data-table-items-padding);
}
.AppDataTable[data-table="volumes"] th:first-child {
  padding-left: 6px;
}
.AppDataTable[data-table="volumes"] th:nth-last-child(2) {
  padding-left: initial;
  min-width: 1px;
}
.VolumesTable.AppDataTable :is(th, td)[data-column="Actions"] {
  width: 1px !important;
  min-width: 40px;
}
