[data-table="networks"] thead th:nth-child(2),
[data-table="networks"] tbody td:nth-child(2) {
  text-align: left;
}
[data-table="networks"] thead th:nth-child(5),
[data-table="networks"] tbody td:nth-child(5) {
  white-space: nowrap;
}
[data-table="networks"] thead th:last-child,
[data-table="networks"] tbody td:last-child {
  width: 1px;
}
