/* Dark */
:root {
  --podman-dark-bg-color: #1a051c;
}
body.bp5-dark[data-runtime="podman"] .AppHeader,
body.bp5-dark[data-runtime="podman"] .AppHeader .bp5-navbar {
  background-color: var(--podman-dark-bg-color);
}
body.bp5-dark[data-runtime="podman"] .AppContent {
  background-color: #261b26;
}
body.bp5-dark[data-runtime="podman"] .AppScreenHeader .bp5-navbar {
  background-color: var(--podman-dark-bg-color);
}
body.bp5-dark[data-runtime="podman"] .AppSidebar {
  background-color: var(--podman-dark-bg-color);
}
body.bp5-dark[data-runtime="podman"] .AppSidebarFooter,
body.bp5-dark[data-runtime="podman"] .AppSidebarFooter .bp5-navbar {
  background-color: #4f175b;
}
body.bp5-dark[data-runtime="podman"] .AppSettingUserConfigurationPath {
  background: var(--podman-dark-bg-color);
}
body.bp5-dark[data-runtime="podman"] .AppScreen[data-screen="dashboard"] .AppScreenContent p {
  color: #bc59d5;
}
body.bp5-dark[data-runtime="podman"] .DashboardContainersReportTable {
  border-color: #bc59d5;
}
body.bp5-dark[data-runtime="podman"] .bp5-popover-content .bp5-menu {
  background-color: var(--podman-dark-bg-color) !important;
}
body.bp5-dark[data-runtime="podman"] .bp5-popover-arrow-fill {
  fill: var(--podman-dark-bg-color) !important;
}
body.bp5-dark[data-runtime="podman"] .AppDrawer {
  background-color: #341c42 !important;
  box-shadow: none;
}
body.bp5-dark[data-runtime="podman"] .AppScreen .bp5-navbar {
  background: #4f175b;
}
body.bp5-dark[data-runtime="podman"] .AppSettingsForm[data-form="engine"] .AppSettingsFieldActive {
  background: #4f175b;
}
body.bp5-dark[data-runtime="podman"] .AppDataTableGroupRow,
body.bp5-dark[data-runtime="podman"] .AppDataTableGroupRow td {
  background-color: var(--podman-dark-bg-color) !important;
}
body.bp5-dark[data-runtime="podman"] [data-screen="registries"] .AppScreenContentView[data-column="right"] {
  background: linear-gradient(to bottom, #4f175b, #261b26);
}
body.bp5-dark[data-runtime="podman"] .AppDataTableGroupName .bp5-button .bp5-button-text .buttonTextLabel {
  color: #dcdcdc;
}
/* Status colors */
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerState[data-state="exited"] {
  background-color: #8b104c;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerState[data-state="running"] {
  color: #60ff45;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerState[data-state="created"] {
  color: #00a6ff;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerState[data-state="stopped"] {
  color: #888a83;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerState[data-state="paused"] {
  color: orange;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li {
  background: #111;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li span {
  background-color: #111;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li[data-state="running"] {
  color: #60ff45;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li[data-state="exited"] {
  background-color: #8b104c;
}
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li[data-state="running"][data-count="0"],
body.bp5-dark[data-runtime="podman"] [data-table="containers"] .ContainerReportStateCounts li[data-state="exited"][data-count="0"] {
  background-color: #111;
  color: #fff;
}
body.bp5-dark .AppDataTable[data-table="images"] .ContainerImageRegistry {
  color: #ccc;
}
body.bp5-dark .AppDataFormFields .bp5-form-group label {
  color: #ccc;
}
body.bp5-dark[data-runtime="podman"] .AppDataFormHeader {
  background: #1e0621;
}
body.bp5-dark[data-runtime="podman"] .AppSettingUserConfigurationPath strong {
  color: #ccc;
}
body.bp5-dark[data-runtime="podman"] .AppSettingUserConfigurationPath input {
  background: #000;
}
body.bp5-dark[data-runtime="podman"] [data-screen="settings-settings"] .AppScreenHeaderText {
  background: rgba(0, 0, 0, 0.5);
  color: #999;
}
body.bp5-dark[data-runtime="podman"] [data-table="container.inspect"] [data-table-row="group.name"] td {
  background: #1a051c !important;
}
body.bp5-dark[data-runtime="podman"] .AppSidebarFooter .bp5-navbar-heading {
  color: #aaa;
}
body.bp5-dark [data-actions-menu="container"] .ItemActionsOverlayMenuActions {
  background-color: #4f175b;
  border-color: #2d0236;
}
body.bp5-dark[data-runtime="podman"] .AppDataTable thead {
  background: #4f175b;
}
/* Light */
:root {
  --podman-light-bg-color: #dcdcdc;
}
body.bp5-light[data-runtime="podman"] .AppHeader,
body.bp5-light[data-runtime="podman"] .AppHeader .bp5-navbar {
  background-color: var(--podman-light-bg-color);
}
body.bp5-light[data-runtime="podman"] .AppContent {
  background-color: #efefef;
}
body.bp5-light[data-runtime="podman"] .AppScreenHeader .bp5-navbar {
  background-color: var(--podman-light-bg-color);
}
body.bp5-light[data-runtime="podman"] .AppSidebar {
  background-color: var(--podman-light-bg-color);
}
body.bp5-light[data-runtime="podman"] .AppSidebarFooter,
body.bp5-light[data-runtime="podman"] .AppSidebarFooter .bp5-navbar {
  background-color: #cfcfcf;
  color: #5f6b7c;
}
body.bp5-light[data-runtime="podman"] .AppSettingUserConfigurationPath {
  background: var(--podman-light-bg-color);
}
body.bp5-light[data-runtime="podman"] .AppScreen[data-screen="dashboard"] .AppScreenContent p {
  color: #bc59d5;
}
body.bp5-light[data-runtime="podman"] .DashboardContainersReportTable {
  border-color: #bc59d5;
}
body.bp5-light[data-runtime="podman"] .bp5-popover-content .bp5-menu {
  background-color: var(--podman-light-bg-color) !important;
}
body.bp5-light[data-runtime="podman"] .bp5-popover-arrow-fill {
  fill: #bfc5cd !important;
}
body.bp5-light[data-runtime="podman"] .AppDrawer {
  background-color: #fff !important;
  box-shadow: none;
}
body.bp5-light[data-runtime="podman"] .AppScreen .bp5-navbar {
  background: var(--podman-light-bg-color);
}
body.bp5-light[data-runtime="podman"] .AppSettingsForm[data-form="engine"] .AppSettingsFieldActive {
  background: #efefef;
}
body.bp5-light[data-runtime="podman"] .AppDataTableGroupRow {
  background-color: #c9ced3 !important;
}
body.bp5-light[data-runtime="podman"] [data-screen="registries"] .AppScreenContentView[data-column="right"] {
  background: linear-gradient(to bottom, var(--podman-light-bg-color), #efefef);
}
body.bp5-light[data-runtime="podman"] .AppDataTableGroupName .bp5-button .bp5-button-text .buttonTextLabel {
  color: #333;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="images"] .ContainerImageRegistry {
  color: #888;
}
body.bp5-light[data-runtime="podman"] .AppSettingUserConfigurationPath strong {
  color: #333;
}
body.bp5-light[data-runtime="podman"] .AppSettingUserConfigurationPath input {
  background: #000;
}
body.bp5-light[data-runtime="podman"] [data-screen="settings-settings"] .AppScreenHeaderText {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
body.bp5-light[data-runtime="podman"] [data-table="container.inspect"] [data-table-row="group.name"] td {
  background: #96a2b3 !important;
}

/* Security */
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr[data-row-highlight="odd"] {
  background-color: #d5d6df;
}
body.bp5-light[data-runtime="podman"] .Severity {
  color: #fff;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr[data-severity="CRITICAL"] .Severity,
body.bp5-light[data-runtime="podman"] table[data-table="image.scanning.report.counts"] tr[data-severity="CRITICAL"] td .Severity {
  background-color: #c40000;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr[data-severity="HIGH"] .Severity,
body.bp5-light[data-runtime="podman"] table[data-table="image.scanning.report.counts"] tr[data-severity="HIGH"] td .Severity {
  background-color: #590000;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr[data-severity="MEDIUM"] .Severity,
body.bp5-light[data-runtime="podman"] table[data-table="image.scanning.report.counts"] tr[data-severity="MEDIUM"] td .Severity {
  background-color: #300606;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr[data-severity="LOW"] .Severity,
body.bp5-light[data-runtime="podman"] table[data-table="image.scanning.report.counts"] tr[data-severity="LOW"] td .Severity {
  background-color: #c5c5c5;
  color: #666;
}
body.bp5-light[data-runtime="podman"] .AppDataTable[data-table="image.scanning.report"] tr td {
  color: #789;
}
body.bp5-light[data-runtime="podman"] .SecurityDetails {
  background: #d5d6df;
}
body.bp5-light[data-runtime="podman"] .AppDataTableGroupLinkVertical,
body.bp5-light[data-runtime="podman"] .AppDataTableGroupLinkHorizontal {
  filter: invert(1);
}

body.bp5-light[data-runtime="podman"] [data-actions-menu="container"] .ItemActionsOverlayMenuActions {
  background-color: #ffffff;
  border-color: #333;
}
body.bp5-light .AppDataTable thead {
  background: #dcdcdc;
}
