:root {
  --app-data-table-items-padding: 10px;
  --monospace-font:
    Consolas, "SF Mono", "DejaVu Sans Mono", "Droid Sans Mono", "Ubuntu Mono", "Roboto Mono", "Fira Code", monospace,
    "Powerline Extra Symbols";
}

body.bp6-dark .bp6-menu {
  background: #300734 !important;
}
body.bp6-dark .bp6-popover-arrow-fill {
  fill: #300734 !important;
}
body.bp6-dark .bp6-input {
  background: rgba(17, 20, 24, 0.3);
  box-shadow:
    0 0 0 0 rgb(76 144 240 / 0%),
    0 0 0 0 rgb(76 144 240 / 0%),
    0 0 0 0 rgb(76 144 240 / 0%),
    inset 0 1px 0 0 rgb(17 20 24 / 60%),
    inset -1px 0 0 rgb(17 20 24 / 60%),
    inset 1px 0 0 rgb(17 20 24 / 60%),
    inset 0 -1px 0 0 #8f99a8;
  color: #f6f7f9;
}
body.bp6-dark .bp6-navbar {
  box-shadow:
    0 0 0 1px rgb(17 20 24 / 20%),
    0 0 0 rgb(17 20 24 / 0%),
    0 1px 1px rgb(17 20 24 / 40%);
}

/* Status colors */
body.bp6-light [data-table="containers"] .ContainerState[data-state="exited"] {
  background-color: #a45f80;
  color: #fff;
}
body.bp6-light [data-table="containers"] .ContainerState[data-state="running"] {
  background-color: #b5ddae;
  color: #333;
}
body.bp6-light [data-table="containers"] .ContainerState[data-state="created"] {
  color: #1ea0e6;
}
body.bp6-light [data-table="containers"] .ContainerState[data-state="stopped"] {
  color: #333;
}
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li {
  background: #efefef;
}
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li span {
  background-color: #efefef;
  color: #333;
}
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li[data-state="running"] {
  color: #333;
  background-color: #b5ddae;
}
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li[data-state="exited"] {
  background-color: #a45f80;
  color: #fff;
}
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li[data-state="running"][data-count="0"],
body.bp6-light [data-table="containers"] .ContainerReportStateCounts li[data-state="exited"][data-count="0"] {
  background-color: #efefef;
  color: #333;
}

/* Pod state */
body.bp6-light table tr td {
  color: #242b31;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Degraded"] {
  background-color: #611f69;
  color: #eee;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Exited"] {
  background-color: #a45f80;
  color: #eee;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Running"] {
  background-color: #b5ddae;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Created"] {
  background-color: #00a6ff;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Stopped"] {
  color: #888a83;
}
body.bp6-light [data-table="pods"] .PodState[data-state="Paused"] {
  background-color: orange;
}

/* Pod state */
body.bp6-dark [data-table="pods"] .PodState[data-state="Degraded"] {
  background-color: #611f69;
}
body.bp6-dark [data-table="pods"] .PodState[data-state="Exited"] {
  background-color: #8b104c;
}
body.bp6-dark [data-table="pods"] .PodState[data-state="Running"] {
  color: #60ff45;
}
body.bp6-dark [data-table="pods"] .PodState[data-state="Created"] {
  color: #00a6ff;
}
body.bp6-dark [data-table="pods"] .PodState[data-state="Stopped"] {
  color: #888a83;
}
body.bp6-dark [data-table="pods"] .PodState[data-state="Paused"] {
  color: orange;
}

body.bp6-dark .ReactIcon,
body.bp6-dark .AppLabelIcon {
  color: #abb3bf;
}

body.bp6-light .ReactIcon,
body.bp6-light .AppLabelIcon {
  color: #5f6b7c;
}

.AppSidebarInfoPopover {
  width: auto !important;
}

body.bp6-dark .AppErrorBoundaryCallout .bp6-heading,
body.bp6-dark .AppErrorBoundaryCallout p {
  color: #fff !important;
}

body.bp6-dark .AppDataTable[data-table="image.scanning.report"] tr td p {
  color: #fff;
}
