@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Montserrat-500.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Montserrat-800.woff2") format("woff2");
}

:root {
  --app-data-table-items-padding: 10px;
  --monospace-font-embedded:
    "JetBrains Mono", Consolas, "SF Mono", "DejaVu Sans Mono", "Droid Sans Mono", "Ubuntu Mono", "Roboto Mono",
    "Fira Code", monospace, "Powerline Extra Symbols";
  --monospace-font: var(--monospace-font-embedded);
}

.AppSidebarInfoPopover {
  width: auto !important;
}
