.AppDataTable[data-table="secrets"] th {
  padding-left: var(--app-data-table-items-padding);
  padding-right: var(--app-data-table-items-padding);
}
.AppDataTable[data-table="secrets"] th:first-child {
  padding-left: 6px;
}
.AppDataTable[data-table="secrets"] th:last-child {
  padding-left: initial;
  min-width: 1px;
}
