.App {
  font-family: sans-serif;
  font-smoothing: subpixel-antialiased;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.AppContent {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.AppContentDocument {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.AppScreen {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}
.AppScreen[data-pending="yes"] {
  align-items: center;
  justify-content: center;
}
.AppScreenContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.AppScreenContent[data-loaded="no"] {
  align-items: center;
  justify-content: center;
}
.AppScreenHeader > .bp5-navbar {
  display: flex;
}
.AppScreenHeader .NavbarCenter,
.AppScreenHeader .NavbarCenterContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.AppScreenHeader .NavbarCenterContent[data-position="left"] {
  justify-content: flex-start;
}
.AppScreenHeader .NavbarCenterContent span {
  max-width: 80%;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
}
.AppNotificationOutput pre {
  margin-bottom: 0;
  font-size: 12px;
  overflow: auto;
}
.AppToaster .bp5-toast {
  top: 40px;
}

.AppDrawer {
  min-width: 420px;
  box-shadow: none;
}
.AppDrawer .bp5-drawer-header {
  -webkit-app-region: none;
}
.AppDrawer .bp5-drawer-header button {
  -webkit-app-region: none !important;
}
.AppDrawer .bp5-drawer-body .bp5-dialog-body {
  padding: 5px;
  margin: 0;
}
.AppDrawer .AppDataTable {
  width: 100%;
  margin-bottom: 20px;
}
.AppDrawer .AppDataForm {
  margin: 0;
  margin-top: 10px;
}
.AppDrawerPendingIndicator {
  margin-top: 10px;
  height: 10px;
  overflow: hidden;
}
.AppDataTable thead tr th,
.AppDataTable tbody tr td {
  padding: 6px;
  width: 120px;
  text-align: center;
  font-size: 11px;
  vertical-align: middle !important;
}
.AppDataTable thead th:first-child,
.AppDataTable tbody td:first-child {
  width: auto;
  text-align: left;
}
.AppDataTable thead th:last-child,
.AppDataTable tbody td:last-child {
  width: 1px !important;
}
.AppDataTable thead th[data-column="Actions"] {
  width: 1px;
}
.AppDataTable thead th[data-column="Created"] {
  min-width: 120px;
}
.AppDataTable thead th[data-column="Size"] {
  min-width: 60px;
}

.AppDataTableGroupRow {
  font-size: 14px !important;
}
.AppDataTableGroupCell {
  width: 50px !important;
  vertical-align: top !important;
  font-weight: bold;
}
.AppDataTableGroupName {
  padding-left: 4px !important;
}
.AppDataTableGroupName .bp5-button {
  padding-left: 4px;
  min-width: 160px;
  justify-content: flex-start;
}
.AppDataTableGroupName .bp5-button .bp5-button-text .buttonTextLabel {
  font-weight: bold;
}
.AppDataTableGroupDetails {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-end;
}

.AppDataTable thead tr th,
.AppDataTable tbody tr td {
  position: relative;
  white-space: nowrap;
}
.AppDataTableGroupLink {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 5px;
  width: 20px;
  bottom: 0;
  font-size: 20px;
  opacity: 0.5;
}
.AppDataTableGroupLinkVertical {
  width: 3px;
  height: 100%;
  margin-left: 50%;
  background-image: url("./images/group-link.png");
  background-repeat: repeat-y;
  background-position: center;
}
.AppDataTableGroupLinkHorizontal {
  position: relative;
  height: 1px;
  width: calc(50% - 2px);
  left: calc(50% + 3px);
  bottom: 50%;
  background-image: url("./images/group-link.png");
  background-repeat: repeat-x;
}
.AppDataTable {
  position: relative;
  width: 100%;
}
.AppDataTable thead,
.AppDataTable tfoot {
  position: sticky;
}
.AppDataTable thead {
  inset-block-start: 0;
  z-index: 10;
}
.AppDataTable tbody tr td:hover {
  cursor: initial !important;
}
.AppDataTable tbody tr[data-prefix-group] td:first-child {
  padding-left: 30px;
}
.AppDataTableGroupLink[data-link-location="last"] .AppDataTableGroupLinkVertical {
  height: 50%;
}
.AppDataTableGroupLink[data-link-location="last"] .AppDataTableGroupLinkHorizontal {
  bottom: 0;
}
.AppFormFieldMeasureUnit {
  height: 30px;
  background: #0b020c;
  width: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #ae69d6;
}

.AppErrorBoundaryCallout {
  text-align: center;
  padding: 15px !important;
  margin: 0;
  min-width: 380px;
  border-radius: 15px;
}

.bp5-disabled .AppFormFieldMeasureUnit {
  color: #798192;
  background-color: #36334d;
}

[data-running="no"] .AppContentDocument {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[data-environment="development"] .App-projectNameVersion {
  color: yellow;
}
[data-environment="development"] .envIndicator {
  background-color: yellow;
}

[data-environment="staging"] .App-projectNameVersion {
  color: orange;
}
[data-environment="staging"] .envIndicator {
  background-color: orange;
}

[data-environment="production"] .App-projectNameVersion {
  color: #4db98c;
}
[data-environment="production"] .envIndicator {
  background-color: #4db98c;
}

.bp5-navbar {
  box-shadow: none !important;
}

.bp5-toast {
  max-width: 50%;
}

.bp5-drawer-header {
  padding-left: 5px;
}

.bp5-button-text {
  font-size: 12px;
}

code.DocsCodeBox {
  margin-left: 2px;
  border: 1px solid #333;
  padding: 3px;
  background: #000;
  border-radius: 5px;
  font-family: monospace;
  color: #ccc;
}

.ReactIcon {
  margin-right: 5px;
  vertical-align: middle;
}

/*
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
a:not([draggable=true]), img:not([draggable=true]) {
  -webkit-user-drag: none;
  user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
  -webkit-user-drag: auto;
  user-drag: auto;
}
*/
