@import "@csstools/normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:focus {
  outline: rgba(19, 124, 189, 0.404) solid 1px;
  outline-offset: 1px;
}

#root {
  overflow: hidden;
}

.AppBackgroundCheckers {
  --checkerSize: 15px;
  --checkerColor: rgb(0, 0, 0);
  --checkerAltColor: #2b2b2b75;

  background-image: linear-gradient(45deg, var(--checkerColor, magenta) 25%, transparent 25%),
    linear-gradient(135deg, var(--checkerColor, orange) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--checkerColor, dodgerblue) 75%),
    linear-gradient(135deg, transparent 75%, var(--checkerColor, darkorchid) 75%);
  background-color: var(--checkerAltColor);

  background-size: calc(2 * var(--checkerSize)) calc(2 * var(--checkerSize));

  background-position:
    0 0,
    var(--checkerSize) 0,
    var(--checkerSize) calc(-1 * var(--checkerSize)),
    0px var(--checkerSize);
}
