.WSLSelector {
  display: inline-flex;
}
.WSLSelector .bp4-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}
.WSLSelector .bp4-html-select {
  min-width: 140px;
}
.ContainerEngineSettingsActions .bp4-button {
  min-width: 110px;
}
.ContainerEngineSettingsActions .bp4-button[data-action="reset"] {
  min-width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.ContainerEngineSettingsSetDefault {
  margin: 0;
  display: inline-block;
  padding-left: 10px;
}
.ContainerEngineSettingsSetDefault .bp4-checkbox {
  margin: 0;
}
.ContainerEngineSettingsActionsSpacer {
  display: flex;
  flex: 1;
}
.ContainerEngineSettings[data-settings="program.local"] .bp4-form-group:last-child {
  margin-bottom: 0;
}
.ContainerEngineSettings[data-settings="program.local"] .bp4-form-helper-text {
  min-height: 1em;
}
