.WSLSelector {
  display: inline-flex;
}
.WSLSelector .bp4-button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90px;
}
.WSLSelector .bp4-html-select {
  min-width: 140px;
}
.ContainerEngineSettingsActions .bp4-button {
  min-width: 110px;
}
.ContainerEngineSettingsSetDefault {
  margin: 0;
  padding-left: 10px;
  display: inline-block;
}
.ContainerEngineSettingsSetDefault .bp4-checkbox {
  margin: 0;
}
