.AppSettingsCallout {
  text-align: center;
  padding-left: 0 !important;
}
.AppSettingsForm {
  padding: 2px;
}
.AppSettingsFieldProgramHelper {
  padding-left: 5px;
}
.AppSettingsField .bp3-control,
.AppSettingsForm[data-form="engine"] .AppSettingsField {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex: 1;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField {
  padding-left: 30px;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .RadioLabel {
  min-width: 100px;
  display: inline-block;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .bp3-html-select {
  min-width: 200px;
}
.EngineRestrictedTo {
  display: flex;
  vertical-align: middle;
}
.EngineTitle {
  padding-left: 5px;
}
