.AppSettingsEngineManager {
  margin-top: 10px;
}

.AppSettingsEngineManager .bp4-tab-list {
  padding-left: 10px;
}
.AppSettingsEngineManager .bp4-tab-panel {
  margin-top: 5px;
}

.AppSettingsCallout {
  text-align: center;
  padding: 5px !important;
  margin: 0;
}
.AppSettingsFormView[data-form-view="container-engine"] {
  border: 1px solid #111;
  margin-bottom: 10px;
}
.AppSettingsFormView[data-form-view="container-engine"] .AppSettingsFormViewBody {
  display: flex;
  padding: 5px;
}
.AppSettingsFormView[data-form-view="container-engine"] .AppSettingsFormViewFooter {
  padding: 5px;
  background: #141414;
  padding-left: 210px;
  display: flex;
  align-items: center;
}
.AppSettingsFormColumn {
  display: flex;
}
.AppSettingsFieldProgramHelper {
  padding-left: 5px;
}
.AppSettingsForm[data-form="engine"] {
  display: flex;
  padding: 0;
}
.AppSettingsForm[data-form="engine"] > .bp4-form-group {
  margin: 0;
}
.AppSettingsField .bp4-control,
.AppSettingsForm[data-form="engine"] .AppSettingsField {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex: 1;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
}
.AppSettingsField .bp4-control-indicator {
  margin-top: 0;
}
.AppSettingsForm[data-form="engine"] .AppSettingsFieldActive {
  background: #4f175b;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .RadioLabel {
  min-width: 130px;
  display: inline-block;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .bp4-html-select {
  min-width: 200px;
}
.AppSettingsForm[data-form="engine.settings"] {
  flex: 1;
  width: 100%;
  margin-left: -2px;
  background: #4f175b;
  padding: 10px;
}
.AppSettingsForm[data-form="flags"] {
  padding: 10px;
}
.AppSettingUserConfigurationPath {
  width: 100%;
  display: flex;
  text-align: right;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  padding-left: 8px;
  margin-bottom: 10px;
  overflow: hidden;


  margin-bottom: 10px;
  background: #111;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.AppSettingUserConfigurationPath strong {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
  user-select: none;
}
.AppSettingUserConfigurationPath input {
  background: #000;
  font-size: 11px;
  border: 1px solid #333;
  padding: 4px;
  display: flex;
  flex: 1;
  color: #fff;
  font-family: monospace;
  border-radius: 4px;
}
