.AppSettingsCallout {
  text-align: center;
  padding: 5px !important;
  margin: 0;
}
.AppSettingsForm {
  padding: 2px;
}
.AppSettingsFormColumn {
  display: inline-flex;
}
.AppSettingsFieldProgramHelper {
  padding-left: 5px;
}
.AppSettingsForm[data-form="engine"] {
  display: flex;
}
.AppSettingsField .bp4-control,
.AppSettingsForm[data-form="engine"] .AppSettingsField {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex: 1;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField {
  padding-left: 30px;
  width: 100%;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .RadioLabel {
  min-width: 100px;
  display: inline-block;
}
.AppSettingsForm[data-form="engine"] .AppSettingsField .bp4-html-select {
  min-width: 200px;
}
.AppSettingsForm[data-form="engine"] .AppSettingsFormColumn:first-child {
  flex: 1;
}
.AppSettingsForm[data-form="engine"] .AppSettingsFormColumn:last-child {
  vertical-align: middle;
  display: flex;
  align-items: center;
}
.AppSettingUserConfigurationPath {
  width: 100%;
  display: flex;
  text-align: right;
  background: #111;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
}
.AppSettingUserConfigurationPath strong {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
  user-select: none;
}
.AppSettingUserConfigurationPath input {
  background: #000;
  font-size: 11px;
  border: 1px solid #333;
  padding: 4px;
  display: flex;
  flex: 1;
  color: #fff;
  font-family: monospace;
  border-radius: 4px;
}

.EngineRestrictedTo {
  display: flex;
  vertical-align: middle;
}
.EngineTitle {
  padding-left: 5px;
}
