.AppDataTable[data-table="machines"] th {
  padding-left: var(--app-data-table-items-padding);
  padding-right: var(--app-data-table-items-padding);
}
.AppDataTable[data-table="machines"] th:first-child {
  padding-left: 6px;
}
.AppDataTable[data-table="machines"] th:nth-last-child(2) {
  padding-left: initial !important;
  min-width: 1px !important;
}

.InspectMachineButton {
  white-space: nowrap;
}
