.AppScreen[data-screen="settings.connection-info"] .ConnectionCodeEditor {
  border: 1px solid #000;
}
.AppScreen[data-screen="settings.connection-info"] h5 {
  margin: 0;
  padding: 5px;
  font-size: 12px;
}

[data-table="settings.connection-info"] tr td {
  text-align: left;
  font-family: var(--monospace-font);
}
[data-table="settings.connection-info"] tr td {
  text-align: left;
  font-family: var(--monospace-font);
}
[data-table="settings.connection-info"] tr td:first-child {
  width: 1px;
  font-weight: bold;
}
[data-table="settings.connection-info"] tr th:nth-child(2),
[data-table="settings.connection-info"] tr td:nth-child(2) {
  width: 100%;
  text-align: left;
}
[data-table="settings.connection-info"] tr td code:first-child {
  border: 1px solid transparent;
  padding: 4px;
  display: block;
  border-radius: 5px;
}
[data-table="settings.connection-info"] tr td code:first-child {
  border: 1px solid transparent;
  padding: 4px;
  display: block;
  border-radius: 5px;
}

[data-theme="bp5-dark"] [data-table="settings.connection-info"] thead tr th {
  background: #000;
}
[data-theme="bp5-dark"] .AppScreen[data-screen="settings.connection-info"] h5 {
  background: #000000;
}
[data-theme="bp5-light"] .AppScreen[data-screen="settings.connection-info"] h5 {
  background: #bcbcbc;
}
[data-theme="bp5-light"] [data-table="settings.connection-info"] thead tr th {
  background: #bcbcbc;
}
[data-theme="bp5-dark"][data-engine="podman"] [data-table="settings.connection-info"] tr td code:first-child {
  background: #110411;
  color: #f6c0fe;
}
[data-theme="bp5-light"][data-engine="podman"] [data-table="settings.connection-info"] tr td code:first-child {
  background: #cbc8cb;
  border: 1px solid #412d4b;
}

[data-theme="bp5-dark"][data-engine="docker"] [data-table="settings.connection-info"] tr td code:first-child {
  background: #04153b;
  color: #a6b5ce;
}
[data-theme="bp5-light"][data-engine="docker"] [data-table="settings.connection-info"] tr td code:first-child {
  background: #cbc8cb;
  border: 1px solid #412d4b;
}
