.AppSettingsEngineManager {
  margin-top: 10px;
}
.AppSettingsForm .bp5-form-group {
  margin: 0;
}
.AppSettingsCallout {
  text-align: center;
  padding: 5px !important;
  margin: 0;
}
.AppSettingsFormColumn {
  display: flex;
}
.AppSettingsFeaturesToggles {
  display: flex;
  flex: 1;
  column-gap: 4px;
  padding-right: 4px;
  padding-left: 4px;
}
.AppSettingsFormVersionCheck,
.AppSettingsFormLoggingLevel {
  display: flex;
  width: 215px;
}
.AppSettingsFormVersionCheck .bp5-form-group {
  display: flex;
  flex: 1;
}
.AppSettingsFormVersionCheckActions {
  display: flex;
  flex: 1;
}
.AppSettingUserConfigurationPath {
  width: 100%;
  display: flex;
  text-align: right;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  padding-left: 8px;
  overflow: hidden;
  background: #111;
  line-height: 27px;
}
.AppSettingUserConfigurationPath strong {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #ccc;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
  user-select: none;
}
.AppSettingUserConfigurationPath input {
  background: #000;
  font-size: 11px;
  border: 1px solid #333;
  padding: 4px;
  display: flex;
  flex: 1;
  color: #fff;
  font-family: monospace;
  border-radius: 4px;
}
.AppSettingsForm[data-form="flags"] {
  padding-bottom: 10px;
  padding-top: 10px;
}
.AppSettingsForm[data-form="flags"],
.AppSettingsForm[data-form="logging"] {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 4px;
  padding-right: 4px;
  padding-left: 4px;
}
.AppSettingsForm[data-form="flags"] .bp5-form-group:first-child,
.AppSettingsForm[data-form="logging"] .bp5-form-group:first-child {
  flex: 1;
}
[data-screen="settings-settings"] .NavbarLeft {
  display: flex;
  align-items: center;
  align-content: center;
}
[data-screen="settings-settings"] .AppScreenHeaderText {
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  font-size: 11px;
}

.AppSettingsEngineManagerConnections {
  height: 300px;
  border: 1px solid #333;
  position: relative;
  background-color: #2a262c;
  overflow: auto;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] thead {
  position: sticky;
  width: 100%;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] tbody {
  vertical-align: top;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] tbody tr td:nth-child(1) {
  width: 1px;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] thead tr th:nth-child(2),
.AppSettingsEngineManagerConnections [data-table="engine.connections"] tbody tr td:nth-child(2) {
  text-align: left !important;
  width: 100%;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-default="yes"] {
  background-color: #670841;
}
.AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-connected="yes"] {
  background-color: #1b3f1b;
}
.AppSettingsEngineManagerConnections .PlatformScopeName,
.AppSettingsEngineManagerConnections .PlatformScopeLabel {
  margin: 0;
  padding: 0;
}
.AppSettingsEngineManagerConnections .PlatformScopeName {
  font-weight: bold;
}
.AppSettingsEngineManagerConnections .PlatformScopeLabel {
  font-size: 9px;
  color: #999;
}
.AppSettingsEngineManagerConnectionsController {
  padding: 5px;
}
.PlatformConnectionName,
.PlatformConnectionURI {
  margin: 0;
  padding: 0;
}
.PlatformConnectionName {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 5px;
}
.PlatformConnectionURI {
  color: #999;
}

[data-theme="bp5-dark"] [data-runtime="docker"] .AppSettingsEngineManagerConnections {
  background-color: var(--docker-dark-bg-color);
}
[data-theme="bp5-dark"] [data-runtime="docker"] .AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-default="yes"] {
  background-color: #00395a;
}
[data-theme="bp5-dark"] [data-runtime="docker"] .AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-connected="yes"] {
  background-color: #0b4e0b;
}

[data-theme="bp5-light"] .AppSettingsEngineManagerConnections {
  background-color: var(--docker-light-bg-color);
}
[data-theme="bp5-light"] .AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-default="yes"] {
  background-color: #ffffff;
}
[data-theme="bp5-light"] .AppSettingsEngineManagerConnections [data-table="engine.connections"] tr[data-connection-is-connected="yes"] {
  background-color: #baffba;
}
[data-theme="bp5-light"] .AppSettingsEngineManagerConnections .PlatformScopeLabel {
  color: #333;
}
[data-theme="bp5-light"] .AppSettingsEngineManagerConnections .PlatformConnectionURI {
  color: #777;
}
